.item-list {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  height: 700px;
  width: 20vw;
  border: 1px solid black;
  padding: 30px;
}

.App {
  text-align: center;
  display: flex;

}

nav {
  text-align: center;
  display: flex;
  flex-direction: column;
  
}